html,body{
    overflow-x: hidden;
}
#navbar{
  height: 100%; /* 100% Full-height */
  width: 256px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  box-shadow: 0 0 5px black;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 5px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#navClose{
    display: none;
}

#nav-button{
    padding: 10px;
}

#navBar-label{
    font-size: 15px;
    margin-bottom: 10;
}

#navbar-item{
    margin-top: 2px;
    width: 100%;
    height: 6vh;
    border: 0;
    padding-left: 15px;
    text-align: left;
    border-radius: 10px;
}

#navbar-item:hover{
    background-color: rgb(221, 221, 221);
}

#content{
    padding: 15;
}

#myChart, #myChart2{
    width: 100%;
    height: 500px;
}

h5{
    font-size: 5vh;
    font-weight: bold;
}

#title{
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#title1{
    font-size: 3vh;
    color: rgb(95, 95, 95);
    margin-top: 1vh;
    margin-bottom: 3vh;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    background-color: rgb(231, 231, 231);
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 256px;
    transition: 0.5s; /* If you want a transition effect */
}

@media only screen and (max-width: 600px) {
    #navbar{
        width: 0%;
        padding-top: 5px;
    }
    #navClose{
        display: block;
        color: black; 
        margin:10; 
        font-size: 5vh; 
        float: right;
    }
    #main{
        width: 100%;
        transition: margin-left 1s;
        margin-left: 0;
    }
}